@font-face {
	font-family: 'GulfsDisplay-Condensed';
	src: url('../fonts/GulfsDisplay-Condensed.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GulfsDisplay-Normal';
	src: url('../fonts/GulfsDisplay-Normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
